body{display: flex;justify-content: center;}
#contenedor{width: 90%; display: flex; flex-flow: column nowrap; }

/******************** CABECERA ********************/
header {
    position: relative; 
    height: 800px; 
    display: flex;
    justify-content: center; 
    margin: 20px 10px 10px 10px;
}
#imagen{width: 100%;}
header>div{     
    position:absolute;
    text-align:center;
    top: 40%;
    width: 70%;
    color:#fff;
    background-color:#000;
    padding:2px 10px;
    opacity:0.7;
}
header>div>p{font-size: 4em; font-weight:bold;}

/******************** FORMULARIO ********************/
#datos{display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;}
#contacto{text-align: center;}
.formulario{padding: 5px;width: 100%; margin: 20px 10px 10px 10px;}
#form-trabalhe {
    margin-top: 30px;
    text-align: left;
}
label {
    font-weight: normal;
    margin-top: 15px;
}
input {
    border: 2px solid #CCC !important;
    height: 35px;
    border-radius: 3px;
    max-width: 100%;
}

.input-group-addon {
    border: 2px solid #CCC !important;
    border-right: 0px !important;
}

.btn {
    border: 0;
    border-radius: 3px;
    margin-top: 20px;
}
.form-group {
    margin-bottom: 0;
    text-align: left;
}
#boton{margin:20px; background-color: #ad5e5c; width: 97%;}

.carga{display: flex; justify-content: center; align-items: center;}
img#loader {
    display: none;
    width: 50px;
}

/******************** INFORMACION ********************/
#info{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-flow: column nowrap; 
    margin: 20px 0px 20px 0px; 
    background-color: #546670; 
    color:white;
}
#info>h2{font-size: 4em;}
#info>h3{font-size: 3em; text-align: center;}

#info>h3>span{font-weight: bold;}

/*Texto parpadeante*/
.text {
    font-size:4em;
    font-family:helvetica;
    font-weight:bold;
    color:#c36b67;
    text-transform:uppercase;
}
.parpadea {
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.caracteristicas{
    margin: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-flow: column nowrap; 
}
.caracteristicas>p{font-size: 1.2em;}
.validez{font-size: 0.7em; margin:30px 10px 10px 10px; text-align: center;}

.columnas{display: flex; flex-flow: row wrap; justify-content: space-between;width: 90%;}
.col1{width: 490px; height: 300px; display: flex; justify-content: center; align-items: center;}
.col1>img{width: 100%;}
.col2{display: flex; justify-content: center; align-items: center; flex-flow: column nowrap;}

/******************** CUENTA ATRAS ********************/
#countdown{
    display: flex; 
    justify-content: center; 
    flex-flow: column nowrap; 
    align-items: center; 
    margin: 20px 0px 20px 0px;
}
#countdown h2{text-align: center;}
#cuenta{margin: 30px 0px 30px 0px; font-size: 4em; font-weight: bold; }


.boton {
    background: #ad5e5c;
    background-image: -webkit-linear-gradient(top, #ad5e5c, #a84745);
    background-image: -moz-linear-gradient(top, #ad5e5c, #a84745);
    background-image: -ms-linear-gradient(top, #ad5e5c, #a84745);
    background-image: -o-linear-gradient(top, #ad5e5c, #a84745);
    background-image: linear-gradient(to bottom, #ad5e5c, #a84745);
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 27px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

/******************** PIE ********************/
footer{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: space-between;
    width: 100%; 
    background-color: #546670; 
    color: white; 
    padding: 15px;
}
footer>a{text-decoration:none; color:white}

/******************** RESPONSIVE ********************/
@media  (max-width: 1100px) {
    header {height: 700px;}

    #info>h2{font-size: 3em;}
    #info>h3{font-size: 2em;}
    .col1{width: 390px; height: 250px;}
    .caracteristicas>p{font-size: 1em;}
    .text {font-size:3em;}
}

@media  (max-width: 960px) {
    header {height: 500px;}

    .col1{width: 100%; height: 250px;}
    .col1>img{width: 80%; height: 300px; padding: 20px;}
    .col2{width: 100%;}
}

@media  (max-width: 850px) {
    header {height: 400px;}
    header>div>p{font-size: 3em;}
    #contacto{font-size: 1.7em;}
    .col1>img{width: 75%; height: 250px; padding: 0px;}
    #cuenta{font-size: 3em;}
}

@media  (max-width: 750px) {
    header {height: 350px;}
    #info>h2{font-size: 2em;}
    #info>h3{font-size: 1.5em;}
    .col1>img{width: 70%; height: 250px;}
}

@media  (max-width: 670px) {
    header {height: 300px;}
    header>div{ width: 80%;}
    header>div>p{font-size: 2em;}

    #contacto{font-size: 1.4em;}
    .col1>img{width: 70%; height: 250px;}
}

@media  (max-width: 570px) {
    header {height: 250px;}
    #info>h3{font-size: 1.3em;}
    #contacto{font-size: 1.2em; font-weight:bold;}
    .btn-block{width: 90%;}
    .col1>img{width: 70%; height: 200px;}
    .boton {font-size: 21px;}
    .col1{height: 200px;}
    .col1>img{width:85%; height: 180px;}
    #cuenta{font-size: 2.5em;}
}


@media  (max-width: 480px) {
    #countdown h2{font-size: 1.7em;}
    #cuenta{font-size: 2em;}
    .col2 h4{font-size: 0.9em;}
    header>div{top: 30%;}
}

@media  (max-width: 400px) {
    .caracteristicas>p{font-size: 0.8em;}
    footer>a{font-size: 0.8em;}
    header>div{top: 25%;}
}